/content/tmp/*
/content/data/*
/content/logs/*
/content/themes/casper
/content/images/**/*
/content/adapters/storage/**/*
/content/adapters/scheduling/**/*
/mysql/*
/.obsidian
.obsidian
$LOCALAPPDATA
/$LOCALAPPDATA
$PLUGINSDIR
/$PLUGINSDIR
$SYSDIR
/$SYSDIR
Codecs
/Codecs
Data
/Data
/Plugins
Plugins
User
/User
*.dll
127.0.0.1+8899
/127.0.0.1+8899\
